/* ------------------- Edit profile modal container ------------------- */
.edit-user-container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
}



/* ------------------- Edit profile modal header ------------------- */
.edit-user-container div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #262626;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}



/* ------------------- Edit profile modal form ------------------- */
.edit-user-form {
    /* height: 399.5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.edit-user-form fieldset {
    width: 193px;
    margin: 5px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    color: #DBDBDB;
    background-color: transparent;
}

.edit-user-form legend {
    font-size: 11px;
    background-color: transparent;
}

.edit-user-form input {
    height: 18px;
    width: 193px;
    padding: 0;
    border: none;
    font-size: 12px;
    background-color: transparent;
}



/* ------------------- Edit profile buttons ------------------- */
.edit-user-btns {
    background-color: transparent;
}

#edit-user-submit, #edit-user-cancel {
    margin: 10px 4px 4px 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #2694fc;
    font-size: 13px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#edit-user-submit:hover {
    background-color: rgb(26, 135, 236);
}

#edit-user-cancel {
    background-color: #fd4573;
}

#edit-user-cancel:hover {
    background-color: #f33968;
}
