/* ------------------- Edit/delete comment ------------------- */
.comment-container {
    margin: 9px 0;
    /* display: flex; */
}

.edit-comment-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#edit-comment, #delete-comment {
    border: none;
    padding: 0 2px;
    font-size: 9px;
    color: #c2c2c2;
    cursor: pointer;
}

#edit-comment:hover, #delete-comment:hover {
    color: #818181;
}

#edit-comment {
    padding-left: 7px;
}

#all-comments {
    margin: 9px 0;
}

/* ------------------- Submit/cancel edit comment ------------------- */
.confirm-edit-comment-input {
    padding: 2px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 12px;
}

#submit-edit-comment, #cancel-edit-comment {
    border: none;
    padding: 0 2px;
    font-size: 11px;
    color: #c2c2c2;
    cursor: pointer;
}

#submit-edit-comment {
    padding-left: 7px;
}

#submit-edit-comment:hover {
    color: rgb(24, 160, 24);
}

#cancel-edit-comment:hover {
    color: rgb(216, 58, 58);
}
