/* ------------------- Navbar Container ------------------- */
.auth-nav-container {
    /* z-index: 1; */
    /* position: sticky; */
    width: 100vw;
    top: 0;
    margin-bottom: 10px;
    padding: 15px;

    display: flex;
    justify-content: space-evenly;

    border-bottom: 1.75px solid #DBDBDB;
    background-color: white;
}

.auth-nav-sub-container {
    min-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.auth-nav-container > * {
    font-size: 13px;
}



/* ------------------- Navbar components ------------------- */
.auth-nav-container a {
    background-color: transparent;
}

.auth-nav-logo {
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 1px;
}

.auth-nav-components {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

.i-img, .i-navlink {
    cursor: pointer;
    background-color: transparent;
}

#navbar-home, #navbar-create, #navbar-chat, #navbar-likes, #profile-button {
    background-color: transparent;
    padding: 0 10px 0 10px;
    border: none;
    font-size: 24px;
    color: #262626;
}

#navbar-home a, #navbar-create a, #navbar-chat a {
    color: #262626;
}

#profile-button:hover {
    cursor: pointer;
}



/* ------------------- Dropdown components ------------------- */
.profile-dropdown {
    top: 60px;
    margin-left: 90px;
    position: absolute;
    height: 68.5px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0 0 6px #DBDBDB;
    background-color:white;
    list-style-type: none;
}

.profile-dropdown div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
    font-size: 15px;
    color: black;
}

#dropdown-navlink {
    margin: 8px;
    padding-left: 1px;
    text-decoration: none;
}
