/* ------------------- Signup Container ------------------- */
.signup-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 350px;
    height: 456px;
    border: 1.75px solid #DBDBDB;
    border-radius: 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}



/* ------------------- Signup elements ------------------- */
.signup-form {
    background-color: white;
}

.signup-inputs {
    overflow: auto;
    width: 258px;
    margin: 3px;
    padding: 8px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-color: #FAFAFA;
    font-size: 12px;
    color: black;
}

.signup-submit {
    width: 276px;
    margin: 6px 3px 3px 3px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(38, 148, 252);
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.signup-submit:hover {
    background-color: rgb(26, 135, 236);
}

.signup-policies {
    padding-top: 10px;
    background-color: white;
    font-size: 11px;
    color: #8E8E8E;
}



/* ------------------- Below signup container ------------------- */
.signup-below-container {
    width: 350px;
    height: 70px;
    margin-top: 10px;
    border: 1.75px solid #DBDBDB;
    border-radius: 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    font-size: 13px;
}

.signup-below-container div {
    margin-right: 2px;
    background-color: white;
    color: black;
}

.signup-below-container a {
    margin-left: 2px;
    text-decoration: none;
    background-color: white;
    color: #2694fc;
}
