/* ------------------- Sitewide styles ------------------- */
* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #FAFAFA;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0px; */
}

/* #root {
    margin: 0px;
} */
