/* ------------------- Sitewide styles ------------------- */
* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #FAFAFA;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

