/* ------------------- Sitewide styles ------------------- */
* {
    background-color: #FAFAFA;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
