/* ------------------- Logout button ------------------- */
#logout-btn {
    margin: 8px;
    padding: 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}
