/* ------------------- Post modal container (home feed) ------------------- */
.single-container {
    width: 775px;
    height: auto;
    min-height: 555px;
    display: flex;
}

.single-image {
    width: 70%;
}

.single-span {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* ------------------- Post modal info (username) ------------------- */
#single-username {
    /* height: 52.5px; */
    padding: 16px;
    border-bottom: 1px solid #DBDBDB;
    font-size: 16px;
    text-decoration: none;
    color: black;
}



/* ------------------- Post modal caption + comments ------------------- */
#single-caption-comments {
    overflow: scroll;
    overflow-x: hidden;
    height: 346px;
    padding: 16px;
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 0;
}

#single-caption-comments p {
    margin: 0;
}



/* ------------------- Post modal footer (likes + create comment) ------------------- */
#heart-like {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.single-likes {
    height: 36px;
    padding: 16px;
    border-top: 1px solid #DBDBDB;
}

/* #home-single-create-comment {
    margin-top: 14px;
} */

.create-comment {
    /* height: 55.5; */
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid #DBDBDB;
}

.create-comment input {
    border: none;
}

#comment-submit {
    border: none;
    font-weight: bold;
    color: #2694fc;
    cursor: pointer;
}
