/* ------------------- Post modal container (home feed) ------------------- */
.single-container {
    width: 775px;
    height: auto;
    min-height: 555px;
    display: flex;
}

.single-image {
    width: 70%;
}

.single-span {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* ------------------- Post modal info (username) ------------------- */
#single-username {
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #DBDBDB;
}



/* ------------------- Post modal caption + comments ------------------- */
#single-caption-comments {
    overflow: scroll;
    overflow-x: hidden;
    height: 358px;
    padding: 16px;
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 0;
}

#single-caption-comments p {
    margin: 0;
}



/* ------------------- Post modal footer (likes + create comment) ------------------- */
.single-likes {
    height: 24px;
    display: flex;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #DBDBDB;
}

.single-likes div {
    padding-left: 7px;
    font-size: 13px;
    font-weight: bold;
    color: #262626;
}

#heart-like {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.create-comment {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid #DBDBDB;
}

.create-comment input {
    border: none;
}

#comment-submit {
    border: none;
    font-weight: bold;
    color: #2694fc;
    cursor: pointer;
}

#comment-submit:disabled {
    color: #8ba8c4;
    cursor: default;
}
