/* ------------------- All posts container ------------------- */
.all-post-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
}



/* ------------------- Individual post containers ------------------- */
.post-welcome-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    background-color: transparent;
    color: #262626;
}
